@model List<timerBanheiro.Models.FuncionariosModel>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head><title>Simulador de timer de banheiro (protótipo)</title></head>
    
    <body>
        <button onclick="entrarBanheiro()">Entrar no banheiro com o cartão de identificação</button>
        
    </body>

    <script>
        entrarBanheiro(){
            
        }

    </script>
</html>

