@model List<timerBanheiro.Models.FuncionariosModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<link href="~/css/site.css" rel="stylesheet" />
<link href="https://fonts.cdnfonts.com/css/seven-segment" rel="stylesheet">


<head>
    <title>Simulador de timer de banheiro (protótipo)</title>
</head>
<body>
    <div id="foraBanheiro">
        <a onclick="entrarBanheiro()" id="botEntrar" class="image-link">
            <img src="/css/porta.png" alt="Imagem porta" class="porta">
        </a>
        <div id="bots">
            <button onclick="jorge()">Eu sou Jorge</button>
            <button onclick="renatoAragao()">Eu sou Renato Aragão</button>
            <button onclick="amanda()">Eu sou Amanda</button>
            <button onclick="lorena()">Eu sou Lorena</button>
        </div>
    </div>
    <div id="banheiro">

        <div id="cronometro" class="cronometro_div"></div>
    </div>
</body>

</html>
<script>

    function trocarFundo() {
        document.body.style.backgroundImage = "url(fundo-privada.jpg);";
    }

    var tempo = 0;

    function getTempo(id) {
        $.ajax({
            url: '@Url.Action("GetFuncionario", "Funcionarios")',
            type: 'GET',
            data: { id: id },
            success: function (data) {
                tempo = data.tempoSecs;
                console.log(tempo);
            }
        });
        document.getElementById("bots").style.display = "none";

    }

    function jorge() {
        getTempo(1);
        console.log(tempo);
    }

    function renatoAragao() {
        getTempo(2);
        console.log('Eu sou Renato Aragão');
    }

    function amanda() {
        getTempo(3);
        console.log('Eu sou Amanda');
    }

    function lorena() {
        getTempo(4);
        console.log('Eu sou Lorena');
    }

    function entrarBanheiro() {
        let tempoInicial = tempo; // Usa a variável global tempo

        function atualizarCronometro() {
            if (tempoInicial <= 0) {
                document.getElementById("cronometro").innerHTML = "Tempo esgotado!";
                clearInterval(intervalo);
                return;
            }

            const minutos = Math.floor(tempoInicial / 60);
            const segundos = tempoInicial % 60;

            document.getElementById("cronometro").innerHTML =
                `${minutos}m ${segundos}s`;

            tempoInicial--;
        }

        // Atualize o cronômetro a cada 1 segundo
        const intervalo = setInterval(atualizarCronometro, 1000);
        atualizarCronometro(); // Corrigido para não passar parâmetros

        document.getElementById("banheiro").style.display = "flex";
        document.getElementById("foraBanheiro").style.display = "none";
        document.getElementById("botEntrar").style.display = "none";
        trocarFundo()
    }
</script>