@model List<timerBanheiro.Models.FuncionariosModel>

<script>
    var tempoSair = 0;
    var tempoInicial = 0;
    var saiuBanheiro = false;
    let fundoAtual = 1;
    let intervalo = null; // Variável para armazenar o estado do cronômetro
    document.body.style.backgroundImage = "url('/css/papel-de-parede-tijolos.png')";
    function trocarFundo() {
        if (fundoAtual === 1) {
            document.body.style.backgroundImage = "url('/css/fundo-privada.jpg')";
            fundoAtual = 2; // Altera para o segundo fundo
        } else if (fundoAtual === 2) {
            document.body.style.backgroundImage = "url('/css/papel-de-parede-tijolos.png')";
            fundoAtual = 1; // Altera de volta para o primeiro fundo
        }
    }

    var tempo = 0;
    var descontoSalario = 0;

    function getTempo(id) {
        $.ajax({
            url: '@Url.Action("GetFuncionario", "Funcionarios")',
            type: 'GET',
            data: { id: id },
            success: function (data) {
                tempo = data.tempoSecs;
                console.log(tempo);
            }
        });
        document.getElementById("bots").style.display = "none";
    }

    function jorge() {
        getTempo(1);
        console.log(tempo);
    }

    function renatoAragao() {
        getTempo(2);
        console.log('Eu sou Renato Aragão');
    }

    function amanda() {
        getTempo(3);
        console.log('Eu sou Amanda');
    }

    function lorena() {
        getTempo(4);
        console.log('Eu sou Lorena');
    }

    function entrarBanheiro() {
        descontoSalario = 0;
        if (saiuBanheiro == true)
            tempoInicial = tempoSair;
        else {
            tempoInicial = tempo;
        }

        trocarFundo()
        document.getElementById("banheiro").style.display = "flex";
        document.getElementById("foraBanheiro").style.display = "none";
        document.getElementById("botEntrar").style.display = "none";
        document.getElementById("sair").style.display = "flex";
        clearInterval(intervalo);
        intervalo = null;


        // Se o cronômetro já está rodando, não criar outro
        if (intervalo !== null) {
            return; // Evita que o cronômetro seja reiniciado
        }

        function atualizarCronometro() {
            if (tempoInicial <= 0) {
                document.getElementById("cronometro").style.fontSize = "3rem";
                document.getElementById("cronometro").style.color = "crimson";
                const minutos = Math.floor(tempoInicial / 60);
                const segundos = tempoInicial % 60;

                document.getElementById("cronometro").innerHTML =
                    `Tempo que será descontado do salário: ${segundos} s`;

                tempoInicial--;
                descontoSalario++;
            }

            else {
                const minutos = Math.floor(tempoInicial / 60);
                const segundos = tempoInicial % 60;

                document.getElementById("cronometro").innerHTML =
                    `${minutos}. ${segundos}`;

                tempoInicial--;

            }

        }

        // Atualize o cronômetro a cada 1 segundo
        intervalo = setInterval(atualizarCronometro, 1000);
        atualizarCronometro(); // Corrigido para não passar parâmetros
    }

    function sairBanheiro() {

        tempoSair = tempoInicial;
        saiuBanheiro = true;
        trocarFundo()
        let desconto = descontoSalario;
        document.getElementById("sair").style.display = "none";
        document.getElementById("banheiro").style.display = "none";
        document.getElementById("foraBanheiro").style.display = "flex";
        document.getElementById("botEntrar").style.display = "flex";
        if (desconto > 0) {
            desconto = desconto * 5;
            document.getElementById("desconto").innerHTML = `O desconto do seu salário será: ${desconto} reais`;
        }
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/seven-segment" rel="stylesheet">
    <head>
        <title>Simulador de timer de banheiro (protótipo)</title>
    </head>

    <body>
        <div id="foraBanheiro">
            <div id="desconto" class="desconto_div"></div>
            <a onclick="entrarBanheiro()" id="botEntrar" class="image-link">
                <img src="/css/porta.png" alt="Imagem porta" class="porta">
            </a>
            <div id="bots">
                <button onclick="jorge()">Eu sou Jorge</button>
                <button onclick="renatoAragao()">Eu sou Renato Aragão</button>
                <button onclick="amanda()">Eu sou Amanda</button>
                <button onclick="lorena()">Eu sou Lorena</button>
            </div>
        </div>
        
        <div id="banheiro">
            <div id="cronometro" class="cronometro_div"></div>
            <div id="sair"><button onclick="sairBanheiro()">Sair do banheiro</button></div>
        </div>
        
    </body>
</html>

